@font-face {
    font-family: 'lightFont';
    src: url('../../../public/fonts/lemonmilk/LEMONMILK-Light.otf');
  }

.contactContainer {
    width: 100vw;
    min-height: calc(100vh - 50px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.contactForm {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.suggestionInput {
    width: 50vw;
    height: 30vh;
    margin-bottom: 20px
}

.suggestionSubmitBtn {
    font-size: 1rem;
    background-color: white;
    border: black solid 2px;
    padding: 20px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5%;
    font-family: lightFont;
}

.suggestionSubmitBtn:hover {
    background-color: lightblue;
}

.knowOfPubs, .email {
    color: rgb(94, 194, 227)
}

.red {
    color: red
}

.green {
    color: rgb(78, 219, 78)
}

@media screen and (width <= 450px) {
    .suggestionInput {
        width: 80vw;
    }
}